/* Disable foreign keys */
PRAGMA foreign_keys = 'off';

/* Begin transaction */
BEGIN;

/* Database properties */
PRAGMA auto_vacuum = 0;
PRAGMA encoding = 'UTF-8';
PRAGMA page_size = 4096;

/* Drop table [news] */
DROP TABLE IF EXISTS [main].[news];

/* Table structure [news] */
CREATE TABLE [main].[news](
  [id] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL ON CONFLICT ROLLBACK UNIQUE ON CONFLICT ROLLBACK, 
  [title] TEXT, 
  [lead] TEXT, 
  [text] TEXT, 
  [date_create] TIMESTAMP DEFAULT CURRENT_TIMESTAMP, 
  [date_public] DATE);

/* Drop table [reviews] */
DROP TABLE IF EXISTS [main].[reviews];

/* Table structure [reviews] */
CREATE TABLE [main].[reviews](
  [id] INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL ON CONFLICT ROLLBACK UNIQUE ON CONFLICT ROLLBACK, 
  [text] TEXT, 
  [declarant] NVARCHAR(100), 
  [date_public] DATE, 
  [source] NVARCHAR(50), 
  [date_create] TIMESTAMP DEFAULT CURRENT_TIMESTAMP);

/* Table data [news] Record count: 89 */

/* Table data [reviews] Record count: 89 */
INSERT INTO [reviews]([id], [text], [declarant], [date_public], [source], [date_create]) VALUES(2, 'Доволен обслуживанием. Всё хорошо. Делают всё быстро. Очень вежливы. Везде бы так. С вас надо брать пример другим.', 'Г.В.', '2021-03-17', 'Книга отзывов, запись №2', '2022-08-18 05:04:35.000');
INSERT INTO [reviews]([id], [text], [declarant], [date_public], [source], [date_create]) VALUES(3, 'Обратилась за справкой из реестровой книги. Вежливый персонал, удобные Whats App оповещения, получила за три дня вместо десяти. Осталась довольна.', 'Г.В.', '2021-03-18', 'Книга отзывов, запись №3', '2022-08-18 05:04:35.000');
INSERT INTO [reviews]([id], [text], [declarant], [date_public], [source], [date_create]) VALUES(4, 'Быстро получил, спасибо работнице, хорошее отношение к людям.', 'М.У.', '2021-03-18', 'Книга отзывов, запись №4', '2022-08-18 05:04:35.000');

/* Commit transaction */
COMMIT;

/* Enable foreign keys */
PRAGMA foreign_keys = 'on';
